$primary-black: #000;
$secondary-black: rgb(53, 53, 53);
$primary-grey: #9F9F9F;
$secondary-grey: #E5E5E5;
$third-grey: #fff7f7;
$primary-white: #fff;
$primary-pink: rgba(255, 168, 168, 0.829);
$secondary-pink: rgba(255, 168, 168, 0.548);
$third-pink: rgba(255, 106, 143, 0.507);
$primary-blue: rgba(168, 242, 255, 0.548);

$transition-02: all 0.2s ease-in-out;
$transition-03: all 0.3s ease-in-out;
$transition-04: all 0.4s ease-in;
